@use "../_vars.scss" as *;

.projects {
  padding-top: 41px;
  // margin-bottom: 41px;
  background-color: $LightOffWhite;
  font-family: Roboto;
  font-weight: 400;
}

.project-panel {
  height: 640px;
  // border-top: 1px solid #131216;
  border-bottom: 1px solid #b2b2b2;
}

.project-panel-header {
  height: 64px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
}

.project-panel-title-client {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.project-panel-title {
  font-weight: 500;
  text-transform: uppercase;
}

.project-panel-client {
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 0.3rem;
}

.project-panel-year {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  span {
    margin-left: auto;
  }
}

.project-panel-image-section {
  height: 494px;
  //background-color: antiquewhite;
  margin: 0 2rem 0 2rem;
}

.project-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-panel-details-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0 0 2rem;
}

.project-panel-description {
  font-size: 0.8rem;
  p {
    margin: 0;
  }
}

.project-panel-badges {
  margin-left: auto;
  margin-right: 2rem;
  display: flex;
  font-weight: 200;
}

.project-panel-badge {
  width: auto;
  padding: 0.6rem 1rem;
  border-radius: 8rem;
  margin-left: 0.5rem;
  height: 0.5rem;
  background-color: $RainydayBlue;
  color: $LightOffWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  span {
    margin: 0, 1rem, 0, 1rem;
    font-weight: bolder;
  }
}

.placeholder {
  background-color: rgb(203, 203, 203);
}

// - - - - IMAGE GRIDS - - - - //
//image grid generic
.image-grid-square {
  height: 100%;
  //background-color: #343434;
  overflow: hidden;
  cursor: pointer;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

// - - - - GALLERY MODAL - - - - //
// - IMAGE - //
.image-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}

.image-modal {
  height: auto;
  width: auto;
  background-color: $LightOffWhite;
  opacity: 100%;
  outline: none !important;
  max-width: 80vw;
}

.image-modal-header {
  width: auto;
  display: flex;
  align-items: center;
  background: none;
  padding: 4px 4px;
}

.image-modal-body {
  display: flex;
}

.image-modal-footer {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 4px 4px;
}

.image-modal-image {
  height: 80vh;
  max-width: 80vw;
  object-fit: cover;
}

// - VIDEO - //

.video-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-modal {
  height: auto;
  width: auto;
  margin: auto, 0;
  background-color: $LightOffWhite;
  opacity: 100%;
  outline: none !important;
  max-width: 80vw;
}

.video-modal-header {
  width: auto;
  display: flex;
  align-items: center;
  background: none;
  padding: 4px 4px;
}

.video-modal-body {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.video-modal-video {
  height: 80vh;
  max-width: 80vw;
  object-fit: cover;
}

//breakpoints

//mobile
@media only screen and (max-width: 768px) {
  .project-panel-header {
    height: 80x;
  }

  .project-panel-title-client {
    height: 100%;
    display: grid;
    row-gap: 0px;
    grid-template-rows: 1fr 1fr;
  }

  .project-panel-title {
    display: flex;
    align-items: flex-end;
  }

  .project-panel-client {
    display: flex;
    align-items: flex-start;
    margin-left: unset;
  }

  .project-panel-year {
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: auto;
  }

  .project-panel-details-section {
    grid-template-columns: 1fr;
    margin-right: 2rem;
  }
}

//desktop-large
@media only screen and (min-width: 1768px) {
  .project-panel-header {
    height: 80px;
    font-size: 1.5rem;
  }

  .project-panel-image-section {
    height: 654px;
    //background-color: antiquewhite;
    margin: 0 2rem 0 2rem;
  }

  .project-panel {
    height: 800px;
  }

  .project-panel-details-section {
    p {
      font-size: 1.1rem;
    }
  }

  .project-panel-badges {
    height: 0.8rem;
    span {
      font-size: 1.1 rem;
    }
  }
}
