
@media screen and (min-width: 320px) {

.post{
        
        width: 90vw;
        max-height: 100vh;
        padding: 1rem;
        margin-top: 10vh;
        padding-top: 10vh;
        
        text-align: left;
        pointer-events: all;
        animation: dropdown 0.5s ease forwards;
        
        &-snap{
            scroll-snap-align: start;
        }

        &-bg{
            content: "";
            position: absolute;
            filter: blur(10px);
            width: 100vw;
            height: 50vh;
            z-index: -99;
            background-size: cover;
        }

        &__vid{
            aspect-ratio: 16/9;
            width: 100%;
            margin-bottom: 4rem;
            margin-top: 1rem;
            border: none;
        }

        &__link{
            text-decoration: none;
            color: whitesmoke;
        }

        &__client {
            color:whitesmoke;
            margin: 0;
            
        }
        &__title{
            color: whitesmoke;
            margin: 0;
        }

        &__subtext{
            color: whitesmoke;
            margin: 0;
        }

        &__body{
            color: whitesmoke;
        }
        
        &__image{
            width: 50vw;
            height: auto;
            transform: translateZ(100px);
        }
    }
}

@media screen and (min-width: 768px) {
    .post{
            width: 80vw;
            display: grid;
            grid-template-columns: 0.1fr 1.5fr;
            grid-template-rows: 1fr 0.1fr 0.1fr 0.1fr 0.1fr;
            
            &__vid{
                width: 100%;
                grid-column: 1/3;
                grid-row: 1/2;
            }

            &__link{
                min-height: 0;
                grid-column: 2;
            }

            &__client {
                font-size: 5rem;
                font-style: italic;
                text-align: left;
                line-height: 4.5rem;
                grid-column: 1;
                grid-row: 2/5;
                padding-left: 10rem;
                min-width: 2rem;
                min-height: 0;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                margin-right: 2rem;
            }
            &__title{
                grid-column: 2;
                grid-row: 3;
                margin: 0;
            }

            &__subtext{
                grid-column: 2;
                grid-row: 2;
                margin: 0;
            }

            &__body{
                grid-row: 4;
                grid-column: 2;
            }
            
            &__image{
                
            }
        }
}

@media screen and (min-width: 1024px) {

    .post{
            font-size: 1.5rem;

            &__vid{
                width: 80%;
                grid-column: 2/3;
            }
        }
    }
