.project-dropper {
    margin-top: 2rem;
    width: 100vw;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;

    &__wrapper{
        display: flex;
        flex-direction: row;
        
        &:hover{
            color: #ed0000;
            background-color: white;
            background: linear-gradient( transparent 0%, #ed0000 60%), url(../../Assets/grain.svg) ;
            background-size: cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-clip-path: url(../../Assets/grain.svg);
            clip-path: url(../../Assets/grain.svg);
            filter: contrast(170%) brightness(1000%) saturate(2000%);
    }
    }

    &__title{
        height: 2.5rem;
        width: 80vw;
    }
}

@keyframes dropdown {
    0%{transform:translateX(-70%); }
    99%{transform:translateX(0); }
    100%{transform:translateX(0); }
}

.dropper-project {
    scroll-snap-align: none;
    margin-top: 0;
} 