@media screen and (min-width: 328px) {

.project-dropper {
    margin-left: 3rem;
    width: 100vw;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;
    font-size: min(0.75rem, 4vw);

    &__wrapper{
        display: flex;
        flex-direction: row;
        
        &:hover{
            color: #ed0000;
            
        }
    }

    &__title{
        height: 2.5rem;
        width: 80vw;
    }
}

@keyframes dropdown {
    0%{transform:translateX(-70%); }
    99%{transform:translateX(0); }
    100%{transform:translateX(0); }
}

.dropper-project {
    scroll-snap-align: none;
    margin-top: 0;
    height: 100%;
} 

}

@media screen and (min-width: 768px) {
    
    .project-dropper{

        margin-top: -2rem;
        
    }
}