@use "../_vars.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&family=Kanit:ital,wght@1,300&display=swap");

.folio-post {
  display: flex;
  flex-direction: column;
}

.home {
  background: $LighterOffWhite;
  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

//default replace standard black
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: $Black;
}

//LANDING
#landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;

  //LEGACY pre-svg-method
  h1 {
    font-family: Stolzl-Medium;
    color: $RainydayBlue;
    z-index: 20;
    margin: 0;
    padding-right: 2vw;
    font-size: 15vh;
    line-height: 0;
    padding-bottom: 5vh;
    // left: 50%;
    // top: 50%;
    //for centered fontsize 124 px
    // margin-left: -323px;
    // margin-top: -82.5px;

    //for centered fontsize 196 px
    // margin-left: -511px;
    // margin-top: -131px;

    //for centered fontsize 160px
    // margin-left: -417.5px;
    // margin-top: -107px;
  }
}

#landing-body {
  display: flex;
  justify-content: flex-start;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

//*simplest way to preserve SVG aspect ratio is manually set widths
//*and then adjust with breakpoints
#rainyday-logo-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-right: 64px;
  svg {
    width: 50vw;
    height: auto;
    left: 0;
  }
}

#landing-image-container {
  height: 100%;
  // margin-right: 10vw;
  img {
    object-fit: cover;
    height: 70vh;
  }
}

//INFO
#home-info {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr;
  background-color: $LighterOffWhite;
  z-index: 30;

  h2 {
    font-family: Stolzl-Medium;
    text-align: left;
    color: $Black;
    margin: 2rem 0 2rem 0;
  }

  p {
    font-family: Stolzl-Regular;
    font-size: 3.4vw;
    text-align: left;
    color: $Black;
    margin: 2rem 0 2rem 0;
  }
}

.emph {
  font-family: Stolzl-Medium;
  color: $RainydayBlue;
}

#home-info-left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  max-height: 100vh;
  // padding: 64px;
}

#home-info-text-container {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 128px;
  padding-right: 128px;
}

#home-info-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
}

#home-info-image {
  height: 100%;
  overflow: hidden;
  img {
    max-height: 1088px;
    // width: 100%;
    //max-width: 45vw;
    object-fit: cover;
    overflow: hidden;
  }
}

//VIDEO

#home-video {
  height: 100vh;
  z-index: 20;
}

//PROJECTS
#home-projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    text-transform: uppercase;
    color: $RainydayBlue;
    font-family: Roboto;
  }

  p {
    font-family: Roboto;
  }
}

#home-projects-text-container {
  position: absolute;
  left: 0;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-projects-text {
  writing-mode: sideways-lr;
  margin: 0;
  font-size: 10vw;
  color: $RainydayBlue;
}

#home-project-section {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.home-project-container {
  height: 70vh;
  margin-right: 1vw;
  // padding: 1vw;
  padding-top: 2vw;
  width: 25vw;
}

.home-project-image-container {
  width: 25vw;
  aspect-ratio: 4/5;
  overflow: hidden;
  img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}

.home-project-details {
  width: 25vw;
}

#project-3-container {
  margin-right: 0vw;
}

//SERVICES
#services {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
  p {
    text-align: left;
    font-family: Stolzl-Medium;
    margin: 0;
    font-size: 52px;
    margin-bottom: 1rem;
    color: $Black;
  }
}

#services-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10vw;
}

#services-image-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 70%;
    object-fit: cover;
  }
}

//CONTACT
#contact {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 96px;
}

#contact-video-container {
  overflow: hidden;
  video {
    object-fit: cover;
  }
}

#contact-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 96px;
  z-index: 20;
  background-color: $LighterOffWhite;
  color: #606060;
  span {
    font-size: 14px;
    font-family: Roboto;
    display: inline-block;
  }
}

.contact-footer-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
}

.contact-footer-bold {
  font-weight: 500;
}

.contact-footer-link {
  text-decoration: underline;
  a {
    color: rgb(69, 69, 69);
  }
}

#contact-footer-logo {
  grid-column: 1;
  grid-row: 1 / 3;
  span {
    font-family: Stolzl-Medium;
    font-size: 5vh;
    padding-bottom: 6px;
    color: $RainydayBlue;
  }
}

#contact-footer-email {
  grid-column: 2;
  grid-row: 1;
  padding-top: 14px;
}

#contact-footer-instagram {
  grid-column: 2;
  grid-row: 2;
  padding-bottom: 21px;
}

#contact-footer-site {
  grid-column: 3;
  grid-row: 1;
  padding-top: 14px;
}

#contact-footer-site-credit {
  grid-column: 3;
  grid-row: 2;
  padding-bottom: 21px;
  .contact-footer-intersect {
    color: black;
    font-family: JetBrainsMono-SemiBold;
    margin-right: 4px;
  }

  .contact-footer-rainyday {
    font-family: Stolzl-Medium;
    color: $RainydayBlue;
    margin-left: 4px;
    padding-bottom: 1px;
  }
}

#contact-footer-copyright {
  grid-column: 4;
  grid-row: 1;
  padding-top: 14px;
  .contact-footer-rainyday {
    font-family: Stolzl-Medium;
    color: $RainydayBlue;
  }
}

//*RESPONSIVE small laptop
@media screen and (min-width: 769px) and (max-width: 1024px) {
  //LANDING
  #landing-body {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }

  #landing-image-container {
    img {
      height: 60vh;
    }
  }

  //PROJECTS
  #project-1-container {
    display: none;
  }
}

//*RESPONSIVE Tablet & Mobile
@media screen and (min-width: 1px) and (max-width: 1023px) {
  //LANDING
  #landing-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  #rainyday-logo-container {
    display: none;
    svg {
      display: none;
    }
  }

  #landing-image-container {
    img {
      min-height: 100vh;
      width: 100vw;
    }
  }

  //INFO
  #home-info {
    display: flex;
    flex-direction: column;

    p {
      font-size: 32px;
      text-align: left;
    }
  }

  #home-info-left {
    display: block;
    height: 60vh;
  }

  #home-info-text-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  #home-info-right {
    height: 60vh;
    justify-content: center;
  }

  #home-info-image {
    width: 100vw;
    height: auto;
    object-position: 0 -200px;
    img {
      width: 100vw;
      object-fit: cover;
    }
  }

  //PROJECTS
  #home-projects {
    width: 100vw;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 24px;
      color: #ffffff;
      mix-blend-mode: difference;
      margin: 0;
      margin-left: 16px;
    }

    p {
      font-size: 12px;
      color: #ffffff;
      mix-blend-mode: difference;
      margin-top: 12px;
      margin-left: 16px;
    }
  }

  #home-projects-text-container {
    display: none;
  }

  #home-projects-text {
    display: none;
  }

  #home-project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-project-container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    overflow: hidden;
  }

  .home-project-image-container {
    width: 100vw;
    height: 100vh;
    img {
      position: relative;
      aspect-ratio: unset;
      min-width: 100%;
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .home-project-details {
    mix-blend-mode: difference;
    position: relative;
    height: 15vh;
    z-index: 30;
    bottom: 15vh;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    // padding: 32px;
  }

  #project-2-container {
    padding-right: 0;
  }

  #project-1-container {
    display: none;
  }

  #project-3-container {
    display: none;
  }

  //SERVICES
  #services {
    //   height: 100vh;
    //   width: 100vw;
    display: flex;
    flex-direction: column;
    //   grid-template-columns: 45% 55%;
    p {
      text-align: left;
      font-family: Stolzl-Medium;
      margin: 0;
      font-size: 36px;
      margin-bottom: 8px;
    }
    // }

    #services-text-container {
      height: 50vh;
      display: flex;
      //   flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 32px;
      margin-left: 0;
    }

    #services-image-container {
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      img {
        height: 80%;
        object-fit: cover;
      }
    }
  }

  //CONTACT
  #contact {
    //   height: 100vh;
    //   width: 100vw;
    //   display: grid;
    grid-template-rows: 1fr 128px;
  }

  // #contact-video-container {
  //   overflow: hidden;
  //   video {
  //     object-fit: cover;
  //   }
  // }

  #contact-footer {
    //   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10px 1fr 1fr 1fr 1fr 10px;
    height: 128px;
    //   z-index: 20;
    //   background-color: $LighterOffWhite;
    //   color: #606060;
    //   span {
    //     font-size: 14px;
    //     font-family: Roboto;
    //     display: inline-block;
    //   }
  }

  // .contact-footer-block {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  //   margin-left: 16px;
  // }

  // .contact-footer-bold {
  //   font-weight: 500;
  // }

  // .contact-footer-link {
  //   text-decoration: underline;
  //   a {
  //     color: rgb(69, 69, 69);
  //   }
  // }

  #contact-footer-logo {
    display: none;
  }

  #contact-footer-email {
    grid-column: 1 / 2;
    grid-row: 2;
    padding: 0;
  }

  #contact-footer-instagram {
    grid-column: 1 / 2;
    grid-row: 3;
    padding: 0;
  }

  #contact-footer-site {
    grid-column: 1 / 2;
    grid-row: 4;
    padding: 0;
    padding-top: 6px;
    font-size: 10px;
    color: #606060;
  }

  #contact-footer-site-credit {
    grid-column: 1 / 2;
    grid-row: 5;
    padding: 0;
    .contact-footer-intersect {
      color: black;
      font-family: JetBrainsMono-SemiBold;
      margin-right: 4px;
    }
  }

  //   .contact-footer-rainyday {
  //     font-family: Stolzl-Medium;
  //     color: $RainydayBlue;
  //     margin-left: 4px;
  //     padding-bottom: 1px;
  //   }
  // }

  #contact-footer-copyright {
    grid-column: 2;
    grid-row: 5;
    padding: 0;
    padding-right: 32px;
    display: flex;
    justify-content: flex-end;
    .contact-footer-rainyday {
      margin-left: auto;
      font-family: Stolzl-Medium;
      color: $RainydayBlue;
    }
  }
}

//*RESPONSIVE mobile
@media screen and (min-width: 1px) and (max-width: 768px) {
  #home-info {
    p {
      font-size: 22px;
    }
  }

  #home-info-image {
    // width: 100vw;
    // height: auto;
    object-position: 0 -40px;
    // img {
    //   width: 100vw;
    //   object-fit: cover;
    // }
  }

  #home-projects {
    height: 100vh;
  }

  #project-1-container {
    display: none;
  }

  #project-3-container {
    display: none;
  }

  #services {
    p {
      font-size: 28px;
    }
  }

  #contact-footer-email {
    grid-column: 1 / 3;
    grid-row: 2;
    padding: 0;
  }

  #contact-footer {
    grid-template-columns: 55% 45%;
    p,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      font-size: 12px;
    }
  }
}
