@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&family=Kanit:ital,wght@1,300&display=swap');


@media screen and (min-width: 320px) {

    body{
        background: black;
    }

    html {
        scroll-snap-type: y proximity;
    }

#home__splash-content.active{
    animation: fadeIn 0.5s ease;
    font-size: min(1.7rem, 6vw);
    pointer-events: all;
}

.inactive{
    font-size: min(2rem, 6vw);
    pointer-events: all;
}

.centre-buffer{
    height: 30vh;
}
.home{
    height: 200vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 2s;
    pointer-events: none;

    &:hover{
        text-align: left;
    }

    @keyframes fadeIn {
        0%{
            opacity: 0;
        }
        100% {
            opacity: 1;
        }      
    }
    
    &__splash{
        font-family: "Kanit";
        background-color: whitesmoke;
        color: #ed0000;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 0.1rem;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 0;
        pointer-events: all;
        scroll-snap-align:  start;
        pointer-events: all;

        &-content{
            width: 80vw;
            height:auto;
            animation: fadeIn 0.6s;
            pointer-events: all;
            cursor: pointer;
        }

        &__projects-button {
            position: relative;
            max-width: 70vw;
            max-height: 20vh;
            padding: none;
            opacity: 0;
            transform: skewX(10deg);
            animation: fadeIn 2s ease forwards;
            animation-delay: 1s;
            transition-property: color, border, background-color, transform;
            transition-duration: 0.6s;
            transition-timing-function: ease;

            &:before{
                content:"";
                position: absolute;
                top: -2px;
                left: -1px;
                right: -1px;
                bottom: -3px;
                border: 0.2rem solid #ed0000;
                transition-property: top, left, right, bottom;
                transition-duration: 0.6s;
                transition-timing-function: ease;
            }

            &:after{
                content:"";
                position: absolute;
                top: -2px;
                left: -1px;
                right: -1px;
                bottom: -3px;
                border: 0.2rem solid #ed0000;
                transition-property: top, left, right, bottom;
                transition-duration: 0.6s;
                transition-timing-function: ease;
            }
            

        &:hover {
            transform: skew(-10deg);
            border: 0.2rem solid #ed0000;
            color: white;
            background-color: #ed0000;
            &:before{
                top: -1rem;
                left: -1rem;
                right: -1rem;
                bottom: -1rem;
            }
            &:after{
                top: -2rem;
                left: -2rem;
                right: -2rem;
                bottom: -2rem;
            }
        }

        }

        &__bg-vid {
        position: fixed;
        z-index: -110;
        width: 100vw;
        height:auto;
    }

    
    }

    &__post-container{
        position: absolute;
        top: 100%;
    }
    
}
.shuffle-text {
    font-size: 2rem;
    text-align: center;
    font-family: "kanit";
    font-style: italic;
    color: whitesmoke;
    ///color: #6d0000;
    &-char{
        animation: none;
    }
}

}

@media screen and (min-width: 768px) {

    .shuffle-text {
        font-size: 4rem;
    }

    .home{

        &__splash{
            &__projects-button {
                padding: 1rem;
            }
        }
        
    }

}

@media screen and (min-width: 1024px) {

    .home{
        &__splash {
            &-content{
                width: 70vw;
            }
        }
        
    }
}