@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&family=Kanit:ital,wght@1,300&display=swap');

.home{
    
    text-align: center;
    &__splash{
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

}

.shuffle-text {
    font-size: 4rem;
    text-align: center;
    font-family: "kanit";

    &-char{
        animation: none;
    }
}